{{ attach_library('elegance/slider') }}
<div class="slider">
  <div class="container">
    <div class="splide" role="group" aria-label="webSite slider">
      <div class="splide__track">
        <ul class="splide__list">
          {% if slider_code != '' %}
            {{ slider_code | striptags('<ol>,<ul>,<li>,<p>,<a>,<img>,<video>,<audio>,<h1>,<h2>,<h3>,<h4>,<em>,<strong>,<br>,<i>,<div>,<span>,<button>,<mark>,<hr>,<del>,<sup>,<sub>,<svg>') | raw }}
          {% else %}
          <li class="splide__slide">
            <div class="slider-text">
              <h2>Elegance vous offre toujours le style que vous cherchez...!</h2>
              <p>Notre boutique en ligne est basé sur la region de l'ile de France et d'autres régions proches.</p>
              <div><a class="button" href="#">Get Started</a> <a class="button-secondary" href="#">Read More</a></div>
            </div>
            <div class="slider-img">
              <img src="{{ directory }}/images/demo/slide4.jpg" alt="Multipurpose Drupal theme" />
            </div>
          </li>
          <li class="splide__slide">
            <div class="slider-text">
              <h2>Elegance est la boutique de dernières tendances.</h2>
              <p>Notre boutique en ligne est basé sur la region de l'ile de France et d'autres régions proches.</p>
            <div><a class="button" href="#">Get Started</a> <a class="button-secondary" href="#">Read More</a></div>
            </div>
            <div class="slider-img">
              <img src="{{ directory }}/images/demo/slide5.jpg" alt="Drupar Design Studio" />
            </div>
          </li>
          <li class="splide__slide">
            <div class="slider-text">
              <h2>Votre style chez Elégance 100% garanti...! </h2>
              <p>Notre boutique en ligne est basé sur la region de l'ile de France et d'autres régions proches.</p>
            <div><a class="button" href="#">Get Started</a> <a class="button-secondary" href="#">Read More</a></div>
            </div>
            <div class="slider-img">
              <img src="{{ directory }}/images/demo/slide6.jpg" alt="Awesome Drupal Theme" />
            </div>
          </li>
          {% endif %}
        </ul>
      </div><!--/splide__track -->
    </div><!--/splide-->
  </div><!--/container-->
</div><!--/slider-->
<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    var splide = new Splide( '.splide', {
      perPage: 1,
      autoplay: true,
      rewind: true,
      pauseOnHover: false,
      interval: 5000,
      arrowPath: 'M0.5 1L20 20.5L0.5 41.5',
    } );
    splide.mount();
  } );
</script>
